$r-font-regular: 'Rajdhani-600';
$r-font-bold: 'Rajdhani-bold';
$o-font-regular: 'Open-Sans-regular';
$o-font-600: 'Open-Sans-600';
$o-font-bold: 'Open-Sans-bold';
$i-font-light: 'Inter-regular';

$color-white: #fff;
$color-black: #000;
$color-charade: #252A34;
$color-mine-shaft: #343434;
$color-redical-red: #FF2E63;
$color-dusty-grey: #999999;
$color-mariner: #346CD9;