.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $color-mariner;
    &__inner {
        @include respond-to(tablet-landscape) {
            display: inline;
        }
    }
    &__logo {
        padding: 16px 0 17px;
        max-width: 158px;
        @include respond-to(phone-only) {
            padding: 5px 0 0;
        }
    }
    &__nav {
        padding-top: 15px;
        @include respond-to(tablet-landscape) {
            display: flex;
        }
    }
}